@{
    ViewData["Title"] = "Видалення акаунту";
}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-6">

            <div class="card shadow-sm text-center p-4">

                <h4 class="fw-bold text-danger mb-3">
                    Видалення акаунту
                </h4>

                <p class="text-muted mb-4">
                    Ви впевнені, що хочете видалити акаунт?  
                    Цю дію неможливо скасувати.
                </p>

                <form asp-action="DeleteAccountConfirmed" method="post" class="mb-3">

                    <button type="submit" class="btn btn-danger px-4">
                        Видалити акаунт
                    </button>

                </form>

                <a asp-action="MyProfile"
                   class="btn btn-outline-dark px-4">
                    Скасувати
                </a>

            </div>

        </div>

    </div>

</div>