@{
    ViewData["Title"] = "Помилка";
}

<div class="container text-center mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8 border rounded shadow-sm p-5 bg-white">
            <i class="bi bi-exclamation-triangle text-danger" style="font-size: 4rem;"></i>

            <h1 class="display-5 text-danger mt-3 fw-bold">Ой! Щось пішло не так.</h1>
            <p class="lead text-secondary mt-3">
                Виникла непередбачувана помилка під час обробки вашого запиту.
            </p>
        </div>
    </div>
</div>