@model LitShare.BLL.DTOs.PostDetailsDto

@{
    ViewData["Title"] = "Видалення оголошення";
}

<div class="container mt-5 text-center">
    <h3 class="fw-bold mb-4">Ви впевнені, що хочете видалити цю книгу?</h3>

    <div class="card p-4 mx-auto col-md-6 col-lg-4">
        <h5 class="fw-bold">@Model.Title</h5>
        <p class="text-muted mb-4">@Model.Author</p>

        <form asp-action="DeleteConfirmed" method="post">
            <input type="hidden" name="id" value="@Model.Id" />

            <button type="submit" class="btn btn-dark w-100 mb-2">
                Так, видалити
            </button>
        </form>

        <a asp-controller="Profile" asp-action="MyBooks" class="btn btn-outline-dark w-100">
            Скасувати
        </a>
    </div>
</div>